<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header head">
             <!-- египетская сила -->
            <p class="head__logos">LOGOS
            </p>
            <input class="head__searchleft" type="text">
            <img class="head__location" src="../img/Location.svg" alt="">
            <p class="head__text">Введите адрес доставки</p>
            <img class="head__searchright" src="../img/Search.svg" alt="">
            <img class="head__calling" src="../img/Calling.svg" alt="">
            <img class="head__ellipse" src="../img/Ellipse.svg" alt="">

            <nav class="nav">
                <ul class="nav__lists">
                    <li class="nav__contacts">Контакты: <br> <a class="nav__link" href="+7 (917) 510-57-59">+7 (917) 510-57-59
                    </a>
                    </li>
                    <li class="nav__contacts nav__basket"> <a class="nav__link nav__basket_link" href="#">Корзина
                    </a>
                    </li>
                </ul>
            </nav>
            <img class="head__buttonellipse" src="../img/Ellipse 50.svg" alt="">
            <p class="head__buttonnomer">4</p>
            <img class="head__buttonline" src="../img/Line 88.svg" alt="">
        </div>

        <div class="banner">
            <img class="banner__maket" src="../img/Mask Group.svg" alt="">
            <h1 class="banner__text">Доставка ВКУСНЕЙШИХ 
                    БЛЮД за 60 минут
            </h1>
            <button class="banner__button">
            </button>
            <h3 class="banner__buttontext">Ещё не пробовал?
            </h3>
        </div>
        <div>
            <ul></ul>
        </div>
    </header>
    
</body>
</html>