.header{
  width: 100%;
  height: auto;
 
  position: absolute;
  top: 0;

  background: $color-black  ;
  box-shadow: 0px 30px 60px rgba(34, 31, 32, 0.2);

}
.head{
  &__logos{
    position: absolute;
    
    left: 87px;
    top: 8px;
    font-family: "Libre Bodoni";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;

    letter-spacing: 0.15em;

    color: $color-white;
  }

  &__searchleft{
    position: absolute;
    width: 555px;
    height: 47px;
    left: 267px;
    top: 20px;
    padding-left: 50px;

    background: $color-black;
    border-radius: 10px;
    color: $color-white;

    z-index: 2;
  }

  &__location{
    position: absolute;
    left: 274px;
    
    top: 32px;
    
    z-index: 2;

  }  
  
  &__searchright{
    position: absolute;
    left: 781px;
    
    top: 31px;
    bottom: 13.52%;
    
    z-index: 2;
  }
  &__calling{
    position: relative;
    left: 879px;
    height: 29px;
    top: 29px;
    z-index: 3;

  }
  &__ellipse{
    position: absolute;
    width: 43px;
    height: 43px;
    left: 873px;
    top: 22px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    z-index: 2;
  }
  
  &__buttonellipse{
    position: absolute;
    width: 29px;
    height: 30px;
    left: 1324px;
    top: 33px;

    background: #FFFFFF;

    border-radius: 50%;
    z-index: 3;
  }
  &__buttonnomer{
    position: absolute;
    left: 1335px;
    top: 29px;

    font-family: "Libre Bodoni";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;

    color: #403C3B;

    background: #FFFFFF;

    z-index: 3;
  }
  &__buttonline{
    position: absolute;
    width: 37px;
    height: 3px;
    left: 1293px;
    top: 46px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-transform: rotate(90deg);

    transform: rotate(90deg);
    z-index: 3;
  }
}
.nav{
  &__lists{
    position: absolute;
    left: 924px;
    top: 9px;

    list-style: none;
    z-index: 3;
  }
  &__list{
    display: inline-block;

    color: $color-black;
    font-family: "Libre Bodoni";
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    z-index: 3;
  }
  &__link{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    font-family: 'Roboto Slab';
    font-style: normal;

    color: $color-white;
    text-decoration: none;
    z-index: 3;
  }
  &__contacts{
    color: $color-white;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 3;
  }
  &__basket{
    position: absolute;
    top: -3px;
    left: 292px;

    border: 1px solid $color-green;
    border-radius: 10px;
    width: 150px;
    height: 52px;

    background-color: $color-green;
    z-index: 3;
  }
  &__basket_link{
    position: absolute;
    top: 14px;
    left: 13px;
    z-index: 3;
  }
}
.banner{
  position: relative;
  width: 100%;
  height: 518px;
  left: 0;
  top: 0;
  margin-top: 66px;
  background-image: url(../img/menu2.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100%;
  
  &__maket{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
  }
  &__text{
    position: absolute;
    right: 848px;
    top: 9px;

    font-family: "Roboto Slab";
    font-style: italic;
    font-weight: 400;
    font-size: 64px;
    line-height: 1;
    text-align: center;

    color: $color-white;
    -webkit-transform: rotate(-8.37deg);
    transform: rotate(-8.37deg);
  }
  &__button{
    position: absolute;
    left: 244px;
    right: 990px;
    top: 297px;
    padding-bottom: 41px;

    background: linear-gradient(117deg, #618967 20px, #72A479 20px);
    -webkit-transform: rotate(352deg);
  }
  &__buttontext{
    position: absolute;
    left: 279px;
    top: 275px;

    font-family: "Roboto Slab";
    font-style: italic;
    font-weight: 400;
    font-size: 25px;

    text-align: center;

    color: $color-white;
    -webkit-transform: rotate(-8.37deg);
    transform: rotate(-8.37deg);

  }
}

.navigation{
  &__lists{
    position: absolute;
    width: 100%;
    height: 67px;
    left: 0px;
    top: 600px;
    padding: 15px;
    

    background-color: $color-black;
  }
  &__list{
    display: inline;
    top: calc(50% - 21px/2 - 1251px);
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 21px;

color: $color-white;
  }
  &__link{
    color: $color-white;
    text-decoration: none;
    font-weight: 400;
    margin: 25px;

    transition: .3s;
    cursor: pointer;

       
  }
  &__link:hover{
    outline: $color-green;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 27px;
    margin-left: 35px;

    outline: #618967;
    padding-bottom: 30px;
    border-bottom: 4px solid;
    border-color: $color-green;
  }
}